LDSPlatform/LDSPlatform-war/web/WEB-INF/wsdl/192.168.0.64_7001/axis2/services/LDSMaterial.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax27="http://util/xsd" xmlns:ns="http://SapServer" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://SapServer">
    <wsdl:documentation>LDSMaterial</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax28="http://util/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://SapServer">
            <xs:import namespace="http://util/xsd"/>
            <xs:element name="IsNullOrEmpty">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Val" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="IsNullOrEmptyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetLdsMaterial">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Matnr" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetLdsMaterialResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax27:InfoUtil"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://util/xsd">
            <xs:complexType name="InfoUtil">
                <xs:sequence>
                    <xs:element minOccurs="0" name="flag" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tdline" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="IsNullOrEmptyRequest">
        <wsdl:part name="parameters" element="ns:IsNullOrEmpty"/>
    </wsdl:message>
    <wsdl:message name="IsNullOrEmptyResponse">
        <wsdl:part name="parameters" element="ns:IsNullOrEmptyResponse"/>
    </wsdl:message>
    <wsdl:message name="GetLdsMaterialRequest">
        <wsdl:part name="parameters" element="ns:GetLdsMaterial"/>
    </wsdl:message>
    <wsdl:message name="GetLdsMaterialResponse">
        <wsdl:part name="parameters" element="ns:GetLdsMaterialResponse"/>
    </wsdl:message>
    <wsdl:portType name="LDSMaterialPortType">
        <wsdl:operation name="IsNullOrEmpty">
            <wsdl:input message="ns:IsNullOrEmptyRequest" wsaw:Action="urn:IsNullOrEmpty"/>
            <wsdl:output message="ns:IsNullOrEmptyResponse" wsaw:Action="urn:IsNullOrEmptyResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetLdsMaterial">
            <wsdl:input message="ns:GetLdsMaterialRequest" wsaw:Action="urn:GetLdsMaterial"/>
            <wsdl:output message="ns:GetLdsMaterialResponse" wsaw:Action="urn:GetLdsMaterialResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="LDSMaterialSoap11Binding" type="ns:LDSMaterialPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="IsNullOrEmpty">
            <soap:operation soapAction="urn:IsNullOrEmpty" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetLdsMaterial">
            <soap:operation soapAction="urn:GetLdsMaterial" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="LDSMaterialSoap12Binding" type="ns:LDSMaterialPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="IsNullOrEmpty">
            <soap12:operation soapAction="urn:IsNullOrEmpty" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetLdsMaterial">
            <soap12:operation soapAction="urn:GetLdsMaterial" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="LDSMaterialHttpBinding" type="ns:LDSMaterialPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="IsNullOrEmpty">
            <http:operation location="IsNullOrEmpty"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetLdsMaterial">
            <http:operation location="GetLdsMaterial"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="LDSMaterial">
        <wsdl:port name="LDSMaterialHttpSoap11Endpoint" binding="ns:LDSMaterialSoap11Binding">
            <soap:address location="http://192.168.0.64:7001/axis2/services/LDSMaterial.LDSMaterialHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="LDSMaterialHttpSoap12Endpoint" binding="ns:LDSMaterialSoap12Binding">
            <soap12:address location="http://192.168.0.64:7001/axis2/services/LDSMaterial.LDSMaterialHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="LDSMaterialHttpEndpoint" binding="ns:LDSMaterialHttpBinding">
            <http:address location="http://192.168.0.64:7001/axis2/services/LDSMaterial.LDSMaterialHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
